@use "../../styles/abstracts";

.ContentPageLayout {
  min-height: 100vh;
  padding: 3rem 3rem 15rem 3rem;
  position: relative;
  background-color: rgba(var(--color-dark), 1);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  @include abstracts.respondMax(abstracts.$tablet-small) {
    padding: 2rem 2em 15rem 2rem;
  }
  @include abstracts.respondMax(abstracts.$mobile-large) {
    padding: 1.5rem 1.5rem 15rem 1.5rem;
  }
  &__main {
    position: relative;
    padding: 0rem 9rem;
    margin-left: 15rem;
    margin-top: 8rem;
    flex: 1 0 0;
    .PagesButtons__container {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translatex(-50%);
    }
    @include abstracts.respondMax(abstracts.$desktop-medium) {
      padding: 0rem 3rem;
    }
    @include abstracts.respondMax(abstracts.$desktop-small) {
      margin-left: 0rem;
      padding: 0rem;
    }
  }
  .Sidebar {
    top: 12rem;
    height: 85vh;
    position: absolute;
    z-index: 8;
  }
}
