.ContentPageLayout {
  min-height: 100vh;
  padding: 3rem;
  padding-bottom: 10rem;
  background-color: rgba(var(--color-dark), 1);
  overflow: scroll;
  &__main {
    position: relative;
    padding: 0rem 6rem;
    margin-left: 15rem;
    .PagesButtons {
      margin: 8rem auto 0rem auto;
    }
  }
  .Sidebar {
    top: 5rem;
    position: fixed;
    height: 90vh;
  }
  .SearchBar {
    margin-top: 2rem;
  }
}
