.Home {
  &__content-group {
    margin-top: 7rem;
  }
  &__content-all-media {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
  }
}
