.EntryForm {
  &__group {
    &:not(:first-child) {
      margin-top: 2rem;
    }
    display: flex;
    flex-direction: column;
  }
  &__label {
    &--checkbox,
    &--radio {
      margin-left: 0.3rem;
    }
  }
  &__input {
    &::placeholder {
      text-transform: capitalize;
    }
  }
  &__checkboxes,
  &__radios {
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
  }
  &__text-area,
  &__select-box {
    margin-top: 0.3rem;
  }
  &__checkbox-group,
  &__radio-group {
    &:not(:first-child) {
      margin-left: 1rem;
    }
    display: flex;
    align-items: center;
  }
}
