@use "../../../../styles/abstracts";

.Entry {
  min-height: 100vh;
  background-color: rgba(var(--color-dark), 1);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
  }
  .EntryForm {
    width: 50rem;
    margin-top: 10rem;
    @include abstracts.respondMax(abstracts.$tablet-small) {
      width: 90%;
    }
  }
}
