@use "../../../styles/abstracts";

.Person {
  &__details-main {
    display: flex;
    @include abstracts.respondMax(abstracts.$tablet-large) {
      flex-direction: column;
      text-align: left;
    }
  }

  &__buttons {
    margin-top: 8rem;
    @include abstracts.respondMax(abstracts.$tablet-small) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__button {
    cursor: pointer;
    border: none;
    padding: 1rem 2rem;
    background-color: rgba(var(--color-secondary), 1);
    color: rgba(var(--color-light), 1);
    box-shadow: 0 1rem 2rem rgba(var(--color-light), 0.1);
    &:not(:first-child) {
      margin-left: 3rem;
      @include abstracts.respondMax(abstracts.$tablet-small) {
        margin-left: 0rem;
        margin-top: 2rem;
      }
    }

    &:active {
      transform: translatey(0.3rem);
    }
    &--active {
      border: 2px solid rgba(var(--color-light), 1);
    }
    @include abstracts.respondMax(abstracts.$tablet-small) {
      margin-left: 0rem;
      width: 25rem;
    }
    @include abstracts.respondMax(abstracts.$mobile) {
      width: 20rem;
    }
  }
  &__button-text {
    @include abstracts.respondMax(abstracts.$mobile) {
      font-size: 1.8rem;
    }
  }
  .ContentGroup {
    margin-top: 8rem;
  }
}
