.ScrollDropdown {
  background-color: rgba(var(--color-primary), 1);
  &__content {
    &--collapsed {
      transition: height 800ms ease-in;
    }

    &--expand {
      transition: height 800ms ease-in;
    }
  }
  &__button {
    cursor: pointer;
    height: 6rem;
    margin-top: 0rem;
    background-color: transparent;
    border: 1px solid rgba(var(--color-light), 1);
    border-radius: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: rgba(var(--color-light), 1);
      color: rgba(var(--color-primary), 1);
    }
  }
  &__icon {
    margin-right: 1.5rem;
  }
}
