.Details {
  &__container {
    display: flex;
  }
  &__image-container {
    flex: 1 0 0;
    margin-right: 7rem;
    position: relative;
    .MediaOptions {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__image {
    width: 100%;
  }
  &__info {
    flex: 2 0 0;
  }
  &__group {
    &:not(:first-child) {
      margin-top: 4rem;
    }

    .Details__about {
      &:not(:first-child) {
        margin-left: 8rem;
      }
    }
  }
  &__header {
    display: flex;
    align-items: center;
  }
  &__title {
    margin-right: 2rem;
  }
  &__horizontal {
    display: flex;
  }
  &__horizontal--space-between {
    justify-content: space-between;
    align-items: center;
  }
  &__subject {
    font-family: var(--ff-primary);
    font-size: 2.3rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--color-grey);
  }
  &__body-text {
    font-family: var(--ff-primary);
    font-size: 2.3rem;
    font-weight: 400;
    color: rgba(var(--color-light), 1);
  }
  &__title {
    font-family: var(--ff-primary);
    font-size: 4.5rem;
    font-weight: 300;
    color: rgba(var(--color-light), 1);
  }
  &__genres {
    display: flex;
    flex-wrap: wrap;
  }
  &__link {
    display: inline-block;
    text-decoration: none;
    border: 1px solid rgba(var(--color-light), 1);
    border-radius: var(--border-radius-small);
    padding: 0.2rem 1rem;
    margin-bottom: 1rem;
    &--light {
      background-color: rgba(var(--color-light), 1);
      color: rgba(var(--color-primary), 1);
      &:hover {
        background-color: rgba(var(--color-primary), 1);
        color: rgba(var(--color-light), 1);
      }
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
    &--dark {
      color: rgba(var(--color-light), 1);
      background-color: transparent;
      &:hover {
        transform: translatey(-0.2rem);
      }
    }
  }
  &__external-link {
    cursor: pointer;
    text-decoration: none;
    width: 20rem;
    border-radius: var(--border-radius-small);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--color-primary-light), 1);
    color: rgba(var(--color-light), 1);
    &:not(:first-child) {
      margin-left: 3rem;
    }
    &:hover {
      transform: translatey(-0.4rem);
    }
  }
  &__icon {
    font-size: 6rem;
  }
  &__link-text {
    font-family: var(--ff-primary);
    font-size: 2rem;
    font-weight: 400;
    line-height: 2;
  }

  &__tagline {
    font-family: var(--ff-primary);
    font-size: 2.3rem;
    font-weight: 300;
    color: rgba(var(--color-light), 0.6);
  }
}
