@use "../../styles/abstracts";

.Header {
  position: absolute;
  top: 1.5rem;
  left: 5rem;
  @include abstracts.respondMax(abstracts.$mobile-large) {
    left: 2rem;
  }
  &__heading {
    font-family: "Staatliches", cursive;
    font-weight: 400;
    font-size: 5.7rem;
    color: rgba(var(--color-secondary), 1);
    text-transform: uppercase;
    @include abstracts.respondMax(abstracts.$mobile-large) {
      font-size: 4.7rem;
    }
  }
}
