@use "../../styles/abstracts";

.Entry {
  min-height: 100vh;
  background-color: rgba(var(--color-dark), 1);
  padding: 10rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__logo {
    margin-bottom: 10rem;
  }
  &__error-text {
    width: 50rem;
    margin-bottom: 1rem;
    @include abstracts.respondMax(abstracts.$tablet-small) {
      width: 100%;
    }
  }
  .EntryForm {
    width: 50rem;
    @include abstracts.respondMax(abstracts.$tablet-small) {
      width: 100%;
    }
  }
}
