.ContentGroupContainer {
  .ContentGroup {
    &:not(:first-child) {
      margin-top: 7rem;
    }
  }
}

.ContentGroup {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2.3rem;
    font-weight: 300;
    color: rgba(var(--color-primary-light), 1);
    &:hover {
      text-decoration: underline;
    }
  }
  &__all-media {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 3rem;
  }
  &__blank {
    margin-top: 3rem;
  }
}
