.MoviesPageLayout {
  .Scroll__container {
    margin-top: 4rem;
    position: relative;
  }
  .ScrollDropdown {
    position: absolute;
    top: 0;
    left: 0rem;
    width: 100%;
    z-index: 2;
  }
}
