.MoviesPageLayout,
.TvPageLayout {
  .Scroll__container {
    margin-top: 0.1rem;
    position: relative;
  }
  .ScrollDropdown {
    position: absolute;
    top: 0;
    left: 0rem;
    width: 100%;
    z-index: 2;
  }
  .ContentGroupContainer {
    margin-top: 12rem;
  }
}
