@use "../abstracts";

:root {
  //colors
  --color-primary: 22, 29, 47;
  --color-primary-light: 90, 105, 143;
  --color-secondary: 252, 71, 71;
  --color-dark: 16, 20, 30;
  --color-light: 255, 255, 255;
  --color-error: red;

  //font-family
  --ff-primary: "Outfit", sans-serif;

  //font-size
  --fs-700: 3.2rem;
  --fs-600: 2.4rem;
  --fs-550: 2rem;
  --fs-500: 1.8rem;
  --fs-450: 1.6rem;
  --fs-400: 1.5rem;
  --fs-375: 1.4rem;
  --fs-350: 1.2rem;
  --fs-300: 1.3rem;
  --fs-200: 1.1rem;

  //border-radius;
  --border-radius-small: 1rem;
  --border-radius-medium: 2rem;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: var(--ff-primary);
  font-size: var(--fs-300);
  font-weight: 300;
  display: flex;
  flex-direction: column;
}
.logo {
  color: rgba(var(--color-secondary), 1);
  font-size: 6rem;
}
img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
