.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0rem 4rem;
  height: 100%;
}

.full-height {
  min-height: 100vh;

  .grow {
    flex-grow: 1;
  }
}

.color-error {
  color: var(--color-error);
}

.color-light {
  color: rgba(var(--color-light), 1);
}

.no-underline {
  text-decoration: none;
}
