.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0rem 4rem;
  height: 100%;
}

.logo {
  color: rgba(var(--color-secondary), 1);
  font-size: 6rem;
}

.full-height {
  min-height: 100vh;

  .grow {
    flex-grow: 1;
  }
}
//colors
.color-error {
  color: var(--color-error);
}

.color-light {
  color: rgba(var(--color-light), 1);
}

.color-secondary {
  color: rgba(var(--color-secondary), 1);
}

.color-primary-light {
  color: rgba(var(--color-primary-light), 1);
}

//text
.no-underline {
  text-decoration: none;
}

.capitalize {
  text-transform: capitalize;
}

//borders
.oval-border {
  border: 2px solid rgba(var(--color-light), 1);
  border-radius: var(--border-radius-medium);
  display: inline-block;
  padding: 1rem 1.5rem;
}
